<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sstyle.server.mapper.ArticleMapper">
    <update id="saveFavoriteById" parameterType="long">
      UPDATE ss_article SET FAVORITE_NUM = FAVORITE_NUM + 1
        WHERE ARTICLE_ID = #{id}
    </update>

    <update id="cancelFavoriteById" parameterType="long">
        UPDATE ss_article SET FAVORITE_NUM = FAVORITE_NUM - 1
        WHERE ARTICLE_ID = #{id}
    </update>

    <insert id="saveArticle" >
        INSERT INTO ss_article(ARTICLE_ID, USER_ID, ARTICLE_DESC,ARTICLE_TYPE,ARTICLE_TITLE,
          <if test="article.articleSign !=null and article.articleSign != ''">
              ARTICLE_SIGN,
          </if>
        CREATE_TIME,UPDATE_TIME)
          VALUES(#{article.articleId}, #{user.id}, #{article.articleDesc}, #{article.articleType},#{article.articleTitle},
          <if test="article.articleSign !=null and article.articleSign != ''">
            #{article.articleSign},
          </if>
        NOW(),NOW())
    </insert>

</mapper>