<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sstyle.server.mapper.BlogMapper">
    <!-- 返回javaBean对象 -->
    <resultMap type="com.sstyle.server.domain.Article" id="articleMap">
        <id column="ARTICLE_ID" property="articleId" javaType="long"/>
        <result column="AUTHOR_REC" property="authorRec" javaType="int"/>
        <result column="VIEW_NUM" property="viewNum" javaType="int"/>
        <result column="UPDATE_TIME" property="updateTime" javaType="java.sql.Timestamp"/>
        <result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp"/>
        <result column="COMMENTS_NUM" property="commentsNum" javaType="int"/>
        <result column="FAVORITE_NUM" property="favoriteNum" javaType="int"/>
        <result column="ARTICLE_IMG" property="articleImg" javaType="string"/>
        <result column="ARTICLE_SIGN" property="articleSign" javaType="string"/>
        <result column="ARTICLE_TYPE" property="articleType" javaType="int"/>
        <result column="ARTICLE_DESC" property="articleDesc" javaType="string"/>
        <result column="ARTICLE_TITLE" property="articleTitle" javaType="string"/>
        <association property="user" javaType="com.sstyle.server.domain.User">
            <id column="USER_ID" property="id"></id>
            <result column="USER_NAME" property="userName"/>
        </association>
        <collection property="flagList"  ofType="com.sstyle.server.domain.Flag" column="ARTICLE_ID"
                    select="findFlags" javaType="java.util.ArrayList">
        </collection>
    </resultMap>

    <resultMap id="flagMap" type="com.sstyle.server.domain.Flag">
        <result column="FLAG_ID" property="flagId" javaType="int"/>
        <result column="FLAG_DIST" property="flagDistrict" javaType="int"/>
        <result column="FLAG_TYPE" property="flagType" javaType="int"/>
        <result column="FLAG_TYPE_DESC" property="flagTypeDesc" javaType="string"/>
        <result column="FLAG_INFO" property="flagInfo" javaType="string"/>
        <result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp"/>
        <result column="STATE" property="state" javaType="string"/>
    </resultMap>


    <select id="queryArticles"  resultMap="articleMap">
       SELECT sa.AUTHOR_REC , sa.VIEW_NUM , sa.COMMENTS_NUM , sa.UPDATE_TIME ,
        sa.CREATE_TIME , sa.ARTICLE_IMG , sa.ARTICLE_TYPE , sa.ARTICLE_DESC ,
        sa.ARTICLE_TITLE , sa.FAVORITE_NUM ,CAST(sa.ARTICLE_ID as char) 'ARTICLE_ID'
        FROM ss_article sa
    </select>

    <select id="queryTecFlags"  resultMap="flagMap">
        SELECT FLAG_ID, FLAG_DIST , FLAG_TYPE, FLAG_TYPE_DESC, FLAG_INFO
        FROM ss_flag
        WHERE STATE = '1'
    </select>

    <select id="queryArticlesByPageAndFlag" resultMap="articleMap">
        SELECT sa.AUTHOR_REC , sa.VIEW_NUM , sa.COMMENTS_NUM , sa.UPDATE_TIME ,
        sa.CREATE_TIME , sa.ARTICLE_IMG , sa.ARTICLE_TYPE , sa.ARTICLE_DESC ,
        sa.ARTICLE_TITLE , CAST(sa.ARTICLE_ID as char) 'ARTICLE_ID'
        FROM ss_article sa, ss_article_flag saf, ss_flag sf
        WHERE
          sa.ARTICLE_ID = saf.ARTICLE_ID
          and saf.FLAG_ID = sf.FLAG_ID
          and saf.FLAG_ID = #{id}
          and sf.STATE = '1'
        limit #{start}, #{end}
    </select>

    <select id="queryArticlesByPageAndDist" resultType="com.sstyle.server.domain.Article">
        SELECT sa.AUTHOR_REC 'authorRec', sa.VIEW_NUM 'viewNum', sa.COMMENTS_NUM 'commentsNum', sa.UPDATE_TIME 'updateTime',
        sa.CREATE_TIME 'createTime', sa.ARTICLE_IMG 'articleImg', sa.ARTICLE_TYPE 'articleType', sa.ARTICLE_DESC 'articleDesc',
        sa.ARTICLE_TITLE 'articleTitle', CAST(sa.ARTICLE_ID as char) 'articleId'
        FROM ss_article sa, ss_article_flag saf, ss_flag sf
        WHERE sa.ARTICLE_ID = saf.ARTICLE_ID
        and saf.FLAG_ID = sf.FLAG_ID
        and sf.FLAG_DIST = #{dist}
        ORDER BY sa.UPDATE_TIME DESC
        limit #{start}, #{end}
    </select>

    <select id="findFlags" parameterType="long" resultMap="flagMap">
        SELECT sf.FLAG_ID, sf.FLAG_DIST , sf.FLAG_TYPE, sf.FLAG_TYPE_DESC, sf.FLAG_INFO  from ss_flag sf, ss_article_flag saf
        WHERE saf.ARTICLE_ID = #{ARTICLE_ID}
        and saf.FLAG_ID = sf.FLAG_ID
        and STATE = '1'
    </select>

    <select id="queryAllArticlesByDist" parameterType="int" resultMap="articleMap">
         SELECT DISTINCT sa.AUTHOR_REC, sa.VIEW_NUM , sa.COMMENTS_NUM , sa.UPDATE_TIME ,
        sa.CREATE_TIME , sa.ARTICLE_IMG , sa.ARTICLE_TYPE , sa.ARTICLE_DESC ,
        sa.ARTICLE_TITLE , sa.FAVORITE_NUM, CAST(sa.ARTICLE_ID as char) 'ARTICLE_ID'
        FROM ss_article sa, ss_article_flag saf, ss_flag sf
        WHERE sa.ARTICLE_ID = saf.ARTICLE_ID
        and saf.FLAG_ID = sf.FLAG_ID
        and sf.FLAG_DIST = #{dist}
        and sf.STATE = '1'
        ORDER BY sa.UPDATE_TIME DESC
    </select>


    <select id="queryArticleDetailById" parameterType="string" resultMap="articleMap">
        SELECT sa.AUTHOR_REC , sa.VIEW_NUM , sa.COMMENTS_NUM , sa.UPDATE_TIME , sa.ARTICLE_SIGN,
        sa.CREATE_TIME , sa.ARTICLE_IMG , sa.ARTICLE_TYPE , sa.ARTICLE_DESC , sa.FAVORITE_NUM,
        sa.ARTICLE_TITLE , CAST(sa.ARTICLE_ID as char) 'ARTICLE_ID', CAST(su.USER_ID as char) 'USER_ID',
        su.USER_NAME
        FROM ss_article sa LEFT JOIN ss_user su
        ON sa.USER_ID = su.USER_ID
        WHERE sa.ARTICLE_ID = #{id}
        and su.STATE = '1'
    </select>

    <select id="queryPublishArticleNum" parameterType="long" resultType="int">
        SELECT COUNT(*) FROM ss_article WHERE USER_ID = #{id}
    </select>

    <update id="updateViewNum">
        UPDATE ss_article SET VIEW_NUM = #{viewNum} WHERE ARTICLE_ID = #{articleId}
    </update>
</mapper>