<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sstyle.server.mapper.FeedsMapper">

    <resultMap id="flagMap" type="com.sstyle.server.domain.Flag">
        <result column="FLAG_ID" property="flagId" javaType="int"/>
        <result column="FLAG_DIST" property="flagDistrict" javaType="int"/>
        <result column="FLAG_TYPE" property="flagType" javaType="int"/>
        <result column="FLAG_TYPE_DESC" property="flagTypeDesc" javaType="string"/>
        <result column="FLAG_INFO" property="flagInfo" javaType="string"/>
        <result column="CREATE_TIME" property="createTime" javaType="java.sql.Timestamp"/>
        <result column="STATE" property="state" javaType="string"/>
    </resultMap>

    <insert id="saveFeeds" parameterType="java.util.List">
        insert into  ss_feeds(FEEDS_ID, FROM_ID, TO_ID, ASSOCIATION_ID, CREATE_TIME, FEEDS_TYPE)
        <foreach collection="list" item="item" index="index" separator="union all">
            (select #{item.feedsId}, #{item.fromId}, #{item.toId}, #{item.associationId}, NOW(), #{item.feedsType} from dual)
        </foreach>
    </insert>

    <select id="unreadDynamics" parameterType="string" resultType="int">
         SELECT COUNT(*) FROM ss_feeds WHERE TO_ID = #{id} AND STATE = '0'
    </select>

    <update id="updateReadFeeds" parameterType="com.sstyle.server.domain.Feeds">
        UPDATE ss_feeds SET STATE = '1' WHERE FEEDS_ID = #{feedsId}
    </update>

    <delete id="deleteFeedsByAuthor">
        DELETE FROM ss_feeds WHERE TO_ID = #{userId} AND FROM_ID = #{authorId}
    </delete>

    <delete id="deleteByArticleId" parameterType="string">
        DELETE FROM ss_feeds WHERE ASSOCIATION_ID = #{id}
    </delete>

</mapper>