<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sstyle.server.mapper.RegisterMapper">

    <insert id="saveUserByEmail" parameterType="map">
        INSERT INTO ss_user(USER_CODE, USER_ID, USER_PASSWORD, USER_EMAIL, CREATE_TIME, UPDATE_TIME, STATE) VALUES(#{params.emailCode}, #{params.userId},
        #{params.emailPassword},#{params.emailCode},NOW(), NOW(), '2')
    </insert>

    <insert id="saveUserByPhone" parameterType="map">
        INSERT INTO ss_user(USER_CODE, USER_ID, USER_PASSWORD, USER_TELEPHONE, CREATE_TIME, UPDATE_TIME) VALUES(#{params.postPhone}, #{params.userId},
        #{params.password},#{params.postPhone},NOW(), NOW())
    </insert>

    <insert id="saveUserRole">
        INSERT INTO ss_user_role(USER_ID, ROLE_ID, STATE, CREATE_TIME, UPDATE_TIME) VALUES(#{userId},
        #{roleId},'1',NOW(), NOW())
    </insert>

    <update id="updateActiveUser" parameterType="string">
        UPDATE ss_user SET STATE = '1' WHERE USER_ID = #{id}
    </update>

    <select id="checkPhoneNum" resultType="int" parameterType="string">
        SELECT COUNT(*) FROM ss_user WHERE USER_CODE = #{id}
    </select>

    <update id="saveUserName">
        UPDATE ss_user SET USER_NAME = #{userName} WHERE USER_ID = #{userId}
    </update>
</mapper>