<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sstyle.server.mapper.UserMapper">
    <select id="queryUsername" parameterType="string" resultType="com.sstyle.server.domain.User">
        SELECT USER_ID 'id', USER_PASSWORD 'password', USER_CODE 'userCode', USER_TELEPHONE 'telephone', USER_NAME 'userName',
            USER_EMAIL 'email', USER_ADDRESS 'address', UPDATE_TIME 'updateTime', CREATE_TIME 'createTime', USER_AVATAR 'avatar'
                FROM ss_user
                WHERE USER_CODE = #{username}
    </select>

    <select id="queryUserInfo" parameterType="string" resultType="com.sstyle.server.domain.User">
        SELECT USER_ID 'id', USER_CODE 'userCode', USER_NAME 'userName',USER_AVATAR 'avatar', USER_ADDRESS 'address',
         USER_TELEPHONE 'telephone', USER_EMAIL 'email', STATE 'state'
        FROM ss_user
        WHERE USER_ID = #{id}
    </select>

    <insert id="saveUserFavorite">
        INSERT INTO ss_user_favorite(USER_ID, FAVORITE_ARTICLE_ID, CREATE_TIME, UPDATE_TIME) VALUES(#{userId}, #{articleId}, NOW(), NOW())
          ON DUPLICATE KEY UPDATE STATE = '1', UPDATE_TIME = NOW()
    </insert>

    <update id="cancelUserFavorite">
        UPDATE ss_user_favorite SET STATE = '0' WHERE USER_ID = #{userId} and FAVORITE_ARTICLE_ID = #{articleId}
    </update>

    <select id="queryUserFavorite" resultType="int">
        SELECT COUNT(*) FROM ss_user_favorite WHERE USER_ID = #{userId} and  FAVORITE_ARTICLE_ID = #{articleId} and STATE = '1'
    </select>

    <select id="queryUserFollow" resultType="int">
        SELECT COUNT(*) FROM ss_user_follow WHERE USER_ID = #{userId} and  FOLLOW_USER_ID = #{authorId} and STATE = '1'
    </select>

    <insert id="saveUserFollow">
        INSERT INTO ss_user_follow(USER_ID, FOLLOW_USER_ID, CREATE_TIME) VALUES(#{followerId}, #{authorId}, NOW())
        ON DUPLICATE KEY UPDATE STATE = '1'
    </insert>

    <update id="cancelUserFollow">
        UPDATE ss_user_follow SET STATE = '0' WHERE USER_ID = #{followerId} and FOLLOW_USER_ID = #{authorId}
    </update>

    <update id="saveUserAvatar">
        UPDATE ss_user SET USER_AVATAR = #{avatar} WHERE USER_ID = #{userId}
    </update>

    <select id="queryFollowerByUserId" parameterType="string" resultType="com.sstyle.server.domain.User">
        SELECT su.USER_ID 'id', su.USER_Name 'userName' FROM ss_user su, ss_user_follow suf
          WHERE su.USER_ID = suf.USER_ID
          AND suf.FOLLOW_USER_ID = #{id}
          AND suf.STATE = '1'
    </select>

    <update id="saveUserInfo">
        UPDATE ss_user SET USER_ADDRESS = #{address}, USER_NAME = #{userName} WHERE USER_ID = #{userId}
    </update>

    <update id="saveUserPwd">
        UPDATE ss_user SET USER_PASSWORD = #{password} WHERE USER_ID = #{userId}
    </update>
</mapper>